# Dependencies
node_modules/

# Build output
dist/
coverage/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Runtime data
pids/
*.pid
*.seed
*.pid.lock

# Environment variables
.env
.env.*.local

# OS / Editor files
.DS_Store
Thumbs.db
*.swp
*.swo
.idea/
.vscode/

# Nest CLI
*.tsbuildinfo

